In [ ]:
100inThis = variable

In [ ]:
_variable = 100

In [ ]:
_variable

In [ ]:
pi = 22/7

In [ ]:
pi

In [ ]:
print(1e15)
print()

In [ ]:
456e15*(6.045e-3)

In [ ]:
1e-3

## Binary Representation in Python

In [ ]:
format(65, 'D')

In [ ]:
first = 'Hardik'
second = 'Janenie'

In [ ]:
    couple = f'{first} loves {second} allot.' 
    print(couple)

In [ ]:
classReg = [1,2,3,4,5,6,7,8,9,0]
classReg

In [ ]:
71 not in classReg

In [ ]:
love = '''
hardik love to learn machine learning and teach also
but hardik loves janenie most
'''
love
print(love)

In [ ]:
dinner = "my last night dinner date got expensive and i've to pay ₹5k"

In [ ]:
updated_dinner = dinner.replace("₹5k", "$70")

In [ ]:
dinner

In [ ]:
updated_dinner

In [ ]:
print(dir(dinner))

In [ ]:
dinner.upper()

In [ ]:
d = "    lost of space   here  "
d.strip()

In [ ]:
items = ['aata', 'lemon', 'honey', 'musturd_oil', 'onion', 'bread', 'egg']
print(items[-4:-1:2])

In [ ]:
dir(items)

In [ ]:
items.append('egg')
items.count('egg')
items.insert(-1, 'chilli')

In [ ]:
items.sort()
items.pop()
items.remove('egg')
items

In [ ]:
expenses = [1000, 2000, 3000, 4000, 3000, 5778, 6789, 4575]

sum = 0
for expense in expenses:
    sum += expense
print(sum)

In [ ]:
list(range(0, 1091, 109))

In [ ]:
for i in range(20):
    print(i*i)

In [ ]:
for i in range(len(expenses)):
    print(i)
    print(expenses[i])

In [ ]:
for l in 'SkillBasics':
    if l == 'i':
        continue
    print(l, end='')

In [ ]:
x = -1
while x <=99:
  x += 2
print(x)

In [ ]:
def fun():
    print("Inside fun function")

fun()

In [ ]:
def fun():
    return "Inside function"

fun()

In [ ]:
def myfun(x = 3, y = 50):
    print('x : ', x)
    print('y : ', y)


myfun(x = 90)

In [ ]:
def name(firstname, lastname):
    return f'{firstname}  loves  {lastname}'

name('hardik', 'janenie')
# name('manas', 'aayush')

In [ ]:
def myfun1 (*argv):
    for arg in argv:
        print(arg)

myfun1('Hardik', 'Loves', 'Janenie')
myfun1("hardik 'hate' manas")

In [ ]:
cube = lambda y : y*y*y

cube(3)

In [ ]:
def cube(x):
    return x*x*x

cube(10)

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))

print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

In [ ]:
name = ['hardik', 'Janenie', 'Ranu', 'Adhitya']

uppercase = list(map(lambda x: x.upper(), name))
print(uppercase)

In [ ]:
def no_return_function():
    x = 10
    y = 20
    result = x + y
    # No return statement here

# Calling the function
output = no_return_function()
print(output)  # Output: None

In [ ]:
d = {
    'hardik' : 8888,
    'manas' : 3333,
    'aayush' : 1111,
    'gaurav' : 9999
}

dir(d)

In [ ]:
d.get("hardik")
d.update('hardik', 1111)

In [ ]:
import math

In [ ]:
dir(math)

In [ ]:
math.sqrt(490)

In [ ]:
math.pow(56, -7)

In [ ]:
math.pi

In [ ]:
import pandas as pd

In [ ]:
dir(pd)

In [ ]:
pd.pivot

In [ ]:
!pip install pyroids

In [ ]:
import pyroids
dir(pyroids)

In [ ]:
pyroids.launch()

In [ ]:
f = open("funny.txt", 'w')

In [ ]:
for line in f:
    print(line)

f.close()

In [ ]:
dir(f)

In [ ]:
f.writelines('hardik like to code')

In [ ]:
f.writelines("hi hardik, this shanu, hardik is the main name of shanu, fathers name of hardik is bhupesh, mothers name of hardik is lata, hardik lives in chennai, u can contact hardik on its mail id = hardikchhipa28@gmail.com ,hardik chhipa")

In [ ]:
with open('funny.txt', 'r') as f:
    for lines in f:
        print(lines)

In [ ]:
with open('funny.txt', 'r') as f:
    lines = f.readlines()
    print(lines)

In [ ]:
with open('love.py', 'w') as f:
    f.write('''a = 10
b = 10 
print(a+b)''')

In [ ]:
import statistics
list = [1,2,3,4,5,6,7,8,9]

mean = statistics.mean(list)

print(mean)

In [ ]:
import datetime
import statistics
class cricketplayer:
    def __init__(self, fname, lname, team, birth_yr): # Custom Constructor
        self.first_name  = fname
        self.last_name  = lname
        self.team_name = team
        self.birth_year = birth_yr
        self.score = []

    def get_age(self):
        now = datetime.datetime.now()
        curr_date = now.year
        return curr_date - self.birth_year

    def add_score(self, score):
        self.score.append(score)

    def avg_score(self):
        return statistics.mean(self.score)
        
    def __lt__(self, other): # Operator Overloading
        self = self.avg_score()
        other = other.avg_score()
        return self < other

    def __str__(self): # Operator Overloading
        return f"{self.first_name} {self.last_name} is the player from {self.team_name} birth at {self.birth_year}, achive {self.score} in this season."

virat = cricketplayer('virat', 'kohli', 'india', 1988)
david = cricketplayer('david', 'warner', 'australia', 1986)
virat.add_score(6)
virat.add_score(4)
david.add_score(94)
david.add_score(76)
print(f"{virat.score}, {david.score}")
print(f"{virat.avg_score()}, {david.avg_score()}")
print(f"{virat.get_age()}, {david.get_age()}")
virat < david
print(virat)

In [ ]:
class address:
    def __init__(self, street, colony, city, state):
        self.street_name = street
        self.colony_name = colony
        self.city_name = city
        self.state_name = state


hardik_home = address('Ramdham', 'Azad Nagar', 'Bhilwara', 'Rajasthan')

print(hardik_home.city_name)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

In [ ]:
dir(int)

In [ ]:
class vector:

    def __init__(self, x, y):
        self.x = x
        self.y = y


    def __add__(self, other):
        return vector(self.x + other.x, self.y + other.y)

    def __sub__(self, other):
        return vector(self.x - other.x, self.y - other.y)

    def __mul__(self, other):
        return vector(self.x * other.x, self.y * other.y)

    def __truediv__(self, other):
        return vector(self.x / other.x, self.y / other.y)
        
    def __repr__(self):
        return f" Vector ({self.x}, {self.y})"


obj1 = vector(6,7)
obj2 = vector(4,3)

print(obj1 / obj2)
print(obj1 - obj2)
print(obj1 * obj2)
print(obj1 + obj2)

In [ ]:
dir(obj1)

In [ ]:
class Avengers:

    def __init__(self, name, age, sex, super_power, weapon):

        self.name = name
        self.age = age
        self.sex = sex
        self.super_power = super_power
        self.weapon = weapon

    def __repr__(self):
        return f"Avenger {self.name} of age {self.age} belongs to {self.sex} gender having {self.super_power} super powers using {self.weapon}"

Captain_America = Avengers("Captain America", 105, "male", "Super strength", "Shield")
Iron_Man = Avengers("Iron Man", 48, "male", "Technology", "Armor")
Black_Widow = Avengers("Black Widow", 32, "female", "Superhuman", "Batons")
Hulk = Avengers("Hulk", 62, "male", "Unlimited Strength", "Unarmed")
Thor = Avengers("Thor", 1500, "male", "Electric Charge", "Mjölnir")
Hawkeye = Avengers("Thor", 52, "male", "Fighting Skills", "Bow and Arrows")

print(Captain_America)
print(Iron_Man)
print(Black_Widow)
print(Hulk)
print(Thor)
print(Hawkeye)

3. Captain America has Super strength, Iron Man has Technology, Black Widow is superhuman, Hulk has Unlimited Strength, Thor has super Energy and Hawkeye has fighting skills as superpowers.
4. Weapons: Shield, Armor, Batons, No Weapon for hulk, Mjölnir, Bow and Arrows  
5. Create methods to getting the information of each superhero
6. Create a method is_leader() which will tell if the superhero is leader or not.

In [ ]:
class BMW:
    def __init__(self, name, model, year):
        self.name = name
        self.model = model
        self.year = year

    def start(self):
        print("Starting the car ...")

    def stop(self):
        print("Stopping the car ...")

    def drive(self):
        pass


class ThreeClass(BMW):
    def __init__(self, CuriseAssistEnabled, name, model, year):
        BMW.__init__(self, name, model, year)
        self.CuriseAssistEnabled = CuriseAssistEnabled

    def display(self):
        print(self.CuriseAssistEnabled)

    def drive(self):
        print("Three Class is being driven..")


threeClass = ThreeClass(True, "BMW", "328i", 2018)
threeClass.start()
threeClass.drive()
threeClass.stop()

In [ ]:
if __name__ == "__main__":
    x = input("Enter number 1: ")
    y = input("Enter number 2: ")
    try:
        z = x / int(y)

    except Exception as e:
        print("Exception type: ", type(e).__name__)
        print("Exception occurred:", e)
        z = None

    finally:
        print(z)

In [ ]:
try:
  print(1)
  print(20 / 0)
  print(2)
except ZeroDivisionError:
  print(3)
finally:
  print(4)

In [ ]:
class PersonName:
    def __init__(self, name):
        self.name = name
        print(self)# this will tell us, what is self?
    
    def get_name(self):
        return self.name
    

p1 = PersonName('Hardik')
p2 = PersonName("Chhipa")

print(p1.get_name())
print(p2.get_name())

# No need to use self as for the instances, we can go with anyother name like "xyz".

In [ ]:
class school:
    def __init__(xyz, branch, since):
        xyz.branch = branch           # Instead of self we are using "xyz"
        xyz.since = since
    def get_details(xyz):
        return xyz.branch, xyz.since
    

Central_Academy = school("Bapu Nagar", 2002)
Delhi_Public_School = school("Udaipur", 2012)

print("Central Academy : ",Central_Academy.get_details())
print("Delhi Public School : ",Delhi_Public_School.get_details())

# Inheritance:
1. single level inheritance
2. multi level inheritance
3. multiple inheritance

In [1]:
#Single level inheritance

class car:
    @staticmethod
    def start():
        print("car started...")

    @staticmethod
    def stop():
        print("car stopped")

class Toyota(car):
    def __init__(self, name):
        self.name = name

Fortuner = Toyota("fortuner")
Fortuner.start()

car started...

In [4]:
# Multi level inheritance

class car:
    @staticmethod
    def start():
        print("Car Started...")
    @staticmethod
    def stop():
        print("Car Stopped...")

class toyota(car):
    def __init__(self, types):
        self.types = types
    def output(self):
        print("Welcome to Toyota...!")

class Fortuner(toyota):
    def __init__(self, FuelType):
        self.FuelType = FuelType
    print("Fortuner is available in both Petrol and Diesel.")

Fortuner1 = Fortuner("Petrol")
# print(Fortuner1)

Fortuner is available in both Petrol and Diesel.

In [5]:
class A:
    print("Welcome to the class A.")
class B:
    print("Welcome to the class B.")
class C(A, B):
    print("Welcome to the class C.")


c1= C()

Welcome to the class A.
Welcome to the class B.
Welcome to the class C.

# Super Class

In [21]:
class car:
    def __init__(self, name):
        self.name = name

    @staticmethod
    def start():
        print("Car Started...")
    @staticmethod
    def stop():
        print("Car Stopped...")

class toyota(car):
    def __init__(self, types, name):
        super().__init__(name)
        self.types = types
        car.start()

    def output(self):
        print("Welcome to Toyota...!")
        return f"Welcom to Toyota {self.name} {self.types}"

Fortuner1 = toyota("electric", "Fortuner")
print(Fortuner1.output())

Car Started...
Welcome to Toyota...!
Welcom to Toyota Fortuner electric

 # __class__ method

In [22]:
class person:
    name = "anonymous"

    def changename(self, name):
        self.__class__.name = "hardik kumar"

p1 = person()
p1.changename("hardik chhipa") # more preference to the class methods
print(p1.name)
print(person.name)

hardik kumar
hardik kumar

# GETTER SETTER DELETER

In [50]:
class myclass:
    def __init__(self, value):
        self._value = value
    
    @property #decorator
    def value(self):
        return self._value
    
    @value.setter
    def value(self, new_value):
        self._value = new_value

    @value.deleter
    def value(self):
        print("deleting the var")

        del self._value

obj = myclass(10)
print(obj.value)
obj.value = 20
print(obj.value)
del obj.value

10
20
deleting the var

In [52]:
print(1 + 2)
print("hardik" + " chhipa") #concatenate
print([1,2,3] + [4,5,6]) #merge

3
hardik chhipa
[1, 2, 3, 4, 5, 6]

# Polymorphism

In [12]:
class complexnum:
    def __init__(self, real, img):
        self.real = real
        self.img = img

    def output(self):
        print(self.real,"i + ",self.img,"j")

    def __add__(self, obj2): # dunder function for addition
        newreal = self.real + obj2.real
        newimg = self.img + obj2.img
        return complexnum(newreal, newimg)
    
    def __sub__(self, obj2): # dunder function for subtraction
        newreal = self.real - obj2.real
        newimg = self.img - obj2.img
        return complexnum(newreal, newimg)
 

obj1 = complexnum(3, 4)
obj1.output()

obj2 = complexnum(6, 7)
obj2.output()

obj3 = obj1 + obj2
obj3.output()

obj4 = obj3 - obj1
obj4.output()

3 i +  4 j
6 i +  7 j
9 i +  11 j
6 i +  7 j